//This was from HTML Jade Converter - converted from original HTML
html
  head
    title= title
    style.
      #grid,td{
      border: 1px solid;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      }
      .choice{
      border-color:black;
      width:45px;
      height:30px;
      }
    
    include ./header-mixin.pug
    +header
  body(onload= onloadThing)
    h1 Level Editor
    p Welcome to the Level Editor! Here, you can design and share a level.
    form(name='f', action='/', method='GET')
      input(type='text', name='code', placeholder='Level Code', onchange='setEditor(dataToArray(document.f.code.value))')
      input(type='text', name='url', placeholder='Level Name')
      input(type='password', name='pw', placeholder='Editing Password (Password to update your level)', size='15')
      input(type='button', onclick='updateData();submitData();', value='Post level')
      input(type='button', value='Get Level Code', onclick='updateData();')
      br
      br
      input(type='text', placeholder='Level to Edit', name='name')
      input(type='button', onclick='getLevel();', value='Edit Level with Level Name')
      br
      br
      br
      |     Extra Options
      br
      |     Platform Color (Select for custom color, otherwise random):
      if dispColor!='__NONE__'
        input#rc(type='checkbox', checked='checked', value='0', name='randomcolor', onclick="if(document.getElementById('rc').checked){document.f.color.style.display='inline';}else{document.f.color.style.display='none';}")
        input(type='color', name='color', style='display:inline;', value= dispColor)
      if dispColor=='__NONE__'
        input#rc(type='checkbox', value='0', name='randomcolor', onclick="if(document.getElementById('rc').checked){document.f.color.style.display='inline';}else{document.f.color.style.display='none';}")
        input(type='color', name='color', style='display:none;', value='#000000')
      br
      | Jump Height: 
      input#gravity(type='range', min='0', max='10', value= jumpHeight)
      br
      | Side-to-side speed: 
      input#side(type='range', min='3', max='5', value= sideSpeed)
    table
      tr
        td.choice(width='10', onclick='currentColor=0;updateStuff();', style='background-color:white;')
        td.choice(onclick='currentColor=1;updateStuff();', style='background-color:black;')
        td.choice(onclick='currentColor=2;updateStuff();', style='background-color:blue;')
        td.choice(onclick='currentColor=3;updateStuff();', style='background-color:red;')
        td.choice(onclick='currentColor=4;updateStuff();', style='background-color:green;')
        td.choice(onclick='currentColor=5;updateStuff();', style='background-color:brown;')
        td.choice(onclick='currentColor=6;updateStuff();', style='background-color:pink;')
        td.choice(onclick='currentColor=7;updateStuff();', style='background-color:gold')
      tr
        td#colorThing(style='background-color:black;height:15px;', colspan='8')
    script(src='/levelcreate.js')
