extends level.pug

block titleThing
  h1 Platformer Jump: Make, play, and share platforming levels!

block links
  div(class="list-group")
    a(href="/levels" class="list-group-item list-group-item-action") See all levels
    a(href="/editor" class="list-group-item list-group-item-action") Make a level

block levelCode
  input(type="text" name="code" placeholder="Level Code")
  input(type="button" name="buttonthing" value="Load Level from Code" onclick="setupWithArray(document.f.code.value)")